<div class="navig-bar">
  <div class="name-logo">
    <img style="width: 50px; margin-right: 10px" src="../../assets/puma.png" />
    <h1 class="team-title">
      <span style="font-weight: lighter">|</span> Speckled Men
    </h1>
  </div>
  <div class="navig-menu">
    <button [routerLink]="['/home']" routerLinkActive="active-link">Home</button>
    <button [routerLink]="['/results']" routerLinkActive="active-link">Results</button>
    <button [routerLink]="['/squad']" routerLinkActive="active-link">Squad</button>
    <button [routerLink]="['/stats']" routerLinkActive="active-link">Stats</button>
    <button [routerLink]="['/seasons']" routerLinkActive="active-link">Seasons</button>
    <button class="admin-btn" [routerLink]="['/admin']" routerLinkActive="active-link">Admin</button>
  </div>
</div>
