@import "../variables.scss";

.navig-bar{
    background-color: $main1;
    width: 100%;

    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.team-title{
    color: white;
    font-weight: bolder;
}

.navig-menu{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    button{
        background-color: transparent;
        border: 0px;
        color: $main2;
    }
    button:hover{
        color: $main3;
    }
}

.name-logo{
    display: flex;
    align-items: center;
}