<div class="navig-bar">
  <div class="name-logo">
    <img style="width: 50px; margin-right: 10px" src="../../assets/puma.png" />
    <h1 class="team-title">
      <span style="font-weight: lighter">|</span> Speckled Men
    </h1>
  </div>
  <div class="navig-menu">
    <button [routerLink]="['/home']">Home</button>
    <button [routerLink]="['/results']">Results</button>
    <button [routerLink]="['/players']">Players</button>
    <button [routerLink]="['/squad']">Squad</button>
    <button [routerLink]="['/stats']">Stats</button>
    <button [routerLink]="['/seasons']">Seasons</button>
  </div>
</div>
