<div class="container">
  <h1>Seasons History</h1>

  <div class="card">
    <div class="card-header">Season 1</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">7th</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>2
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>2
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>10
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>6
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>20
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>72
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Alex Gates & Adam Murphy (6)</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Season 2</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">5th</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>6
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>0
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>8
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>12
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>49
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>54
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Alex Gates (24)</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Season 3</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">3rd</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>7
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>3
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>4
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>17
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>43
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>41
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Alex Gates (19)</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Season 4</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">6th</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>4
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>1
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>9
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>9
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>33
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>38
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Adam Murphy (8)</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Season 5</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">5th</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>4
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>2
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>8
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>10
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>32
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>40
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Alex Gates (7)</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Season 6</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">3rd</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>8
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>1
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>5
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>17
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>51
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>39
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Alex Gates (11)</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Season 7</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">3rd</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>8
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>1
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>5
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>17
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>60
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>26
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Luke Parker (15)</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Season 8</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">4th</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>8
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>0
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>6
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>16
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>47
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>38
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Alex Gates (11)</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Season 9</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">5th</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>6
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>0
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>8
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>12
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>44
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>42
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Alex Gates (11)</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Season 10</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">1st</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>8
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>1
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>2
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>25
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>52
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>22
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Alex Gates (17)</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Season 11</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">4th*</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>1
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>0
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>7
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>12
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>15
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>53
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Tom Tweedy (7)</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Season 12</div>
    <div class="card-body">
      <div class="season-info">
        <div class="finishing">
          <div class="finishing_pos">Finishing Position</div>
          <div class="finishing_num">5th</div>
        </div>
        <div class="stats">
          <div class="stats_score">
            <span class="stats_title">Wins: </span>6
          </div>
          <div class="stats_score">
            <span class="stats_title">Draws: </span>0
          </div>
          <div class="stats_score">
            <span class="stats_title">Losses: </span>4
          </div>
          <div class="stats_score">
            <span class="stats_title">Points: </span>12
          </div>
          <div class="stats_score">
            <span class="stats_title">Goals: </span>32
          </div>
          <div class="stats_score">
            <span class="stats_title">Conceded: </span>31
          </div>
        </div>
      </div>
    </div>
    <div class="topscorer">
      <div>Top Scorer</div>
      <div class="scorer-names">Alex Gates (7)</div>
    </div>
  </div>
</div>
