<div class="container hompage">
   <h1>Welcome to the Home of Space Filled FC</h1>

   <div class="card">
      <div class="main-header card-header">Latest Result</div>
      <div class="card-body">
         <div class="matchDetails">
            <p class="md_type" [ngClass]="{'friendlymatch' : lastMatchDetails.type == 'Friendly'}">{{
               lastMatchDetails.type }}</p>
            <p class="md_date">{{ lastMatchDetails.date }}</p>
         </div>
         <div class="hometeam-total">
            <div class="score">
               {{ homeScore }}
            </div>
            <div class="dash">
               -
            </div>
            <div class="teamname">
               Space Filled
            </div>
         </div>
         <div class="hometeam-total">
            <div class="score">
               {{ oppScore }}
            </div>
            <div class="dash">
               -
            </div>
            <div class="teamname">
               {{ oppName }}
            </div>
         </div>
         <div class="stats-box">
            <div class="scorers-box card">
               <div class="card-header">Goalscorers</div>
               <div class="card-body">
                  <p class="plist" *ngFor="let p of scorers">{{p}}</p>
               </div>
            </div>
            <div class="assisters-box card">
               <div class="card-header">Assisters</div>
               <div class="card-body">
                  <p class="plist" *ngFor="let a of assisters">{{a}}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header main-header">
         Club Stats
      </div>
      <div class="card-body">
         <h4>This Season</h4>
         <div class="c-stats-table">
            <div>
               <div class="stat-top"><span class="inside-text">Matches Played</span></div>
               <div class="stat-bottom">{{seasonStats[0]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Wins</span></div>
               <div class="stat-bottom">{{seasonStats[1]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Draws</span></div>
               <div class="stat-bottom">{{seasonStats[2]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Losses</span></div>
               <div class="stat-bottom">{{seasonStats[3]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Goals For</span></div>
               <div class="stat-bottom">{{seasonStats[4]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Goals Against</span></div>
               <div class="stat-bottom">{{seasonStats[5]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Win %</span></div>
               <div class="stat-bottom">{{seasonStats[6]}}%</div>
            </div>
         </div>
         <h4>All Time</h4>
         <h6>Include Friendlies? <input [(ngModel)]="stats_includefriendlies" type="checkbox"></h6>
         <div *ngIf="!stats_includefriendlies" class="c-stats-table">
            <div>
               <div class="stat-top"><span class="inside-text">Matches Played</span></div>
               <div class="stat-bottom">{{allTimeStats[0]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Wins</span></div>
               <div class="stat-bottom">{{allTimeStats[1]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Draws</span></div>
               <div class="stat-bottom">{{allTimeStats[2]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Losses</span></div>
               <div class="stat-bottom">{{allTimeStats[3]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Goals For</span></div>
               <div class="stat-bottom">{{allTimeStats[4]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Goals Against</span></div>
               <div class="stat-bottom">{{allTimeStats[5]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Win %</span></div>
               <div class="stat-bottom">{{allTimeStats[6]}}%</div>
            </div>
         </div>
         <div *ngIf="stats_includefriendlies" class="c-stats-table w-friendlies">
            <div>
               <div class="stat-top"><span class="inside-text">Matches Played</span></div>
               <div class="stat-bottom">{{allTimeStatsF[0]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Wins</span></div>
               <div class="stat-bottom">{{allTimeStatsF[1]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Draws</span></div>
               <div class="stat-bottom">{{allTimeStatsF[2]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Losses</span></div>
               <div class="stat-bottom">{{allTimeStatsF[3]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Goals For</span></div>
               <div class="stat-bottom">{{allTimeStatsF[4]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Goals Against</span></div>
               <div class="stat-bottom">{{allTimeStatsF[5]}}</div>
            </div>
            <div>
               <div class="stat-top"><span class="inside-text">Win %</span></div>
               <div class="stat-bottom">{{allTimeStatsF[6]}}%</div>
            </div>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header main-header">
         Top Scorers
      </div>
      <div class="card-body stat-box-g">
         <div class="scorers-box card">
            <div class="card-header">This Season</div>
            <div class="card-body">
               <table>
                  <tr *ngFor="let scorer of topScorers_s"></tr>
               </table>
            </div>
         </div>
         <div class="assisters-box card">
            <div class="card-header assist-head">All Time <span class="friendly-checkbox">Include Friendlies? <input [(ngModel)]="ts_includefriendlies" type="checkbox"></span></div>
            <div class="card-body">
              
            </div>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header main-header">
         Top Assisters
      </div>
      <div class="card-body stat-box-g">
         <div class="scorers-box card">
            <div class="card-header">This Season</div>
            <div class="card-body">
               
            </div>
         </div>
         <div class="assisters-box card">
            <div class="card-header assist-head">All Time <span class="friendly-checkbox">Include Friendlies? <input [(ngModel)]="ta_includefriendlies" type="checkbox"></span></div>
            <div class="card-body">
              
            </div>
         </div>
      </div>
   </div>
</div>