<div class="container">
    <h1 class="mt-3" style="font-weight: bold;">MKS United Players</h1>
    <div class="carousel">
        <button *ngIf="!isMobile" class="prev-button" (click)="prev()">&lt;</button>
        <div class="side-image"><img [class]="isMobile ? 'side-image-img-m' : 'side-image-img'" [src]="getImagePath(selectedImage+1)"></div>
        <div class="mainimage">
            <img class="mainimage-img" [src]="getImagePath(selectedImage)">
        </div>
        <div class="side-image"><img [class]="isMobile ? 'side-image-img-m' : 'side-image-img'" [src]="getImagePath(selectedImage-1)"></div>
          
        <div class="player-box">
            <button *ngIf="isMobile" class="prev-button" (click)="prev()">&lt;</button>
            <div>
            {{squad[squadKeys[selectedImage]]["name"]}}
            <div class="apps-line">{{squad[squadKeys[selectedImage]]["statsC"]["matches"]}} Appearances</div>
       </div>
       <button *ngIf="isMobile" class="next-button" (click)="next()">&gt;</button>
        </div>
        <button *ngIf="!isMobile" class="next-button" (click)="next()">&gt;</button>
    </div>

</div>